<html>
<head>
</head>
<body>
<form action="/post_action_group" method="POST">
	Photo location: <input type="text" name="file_path" size=110 maxLength=100 value={{file_path}} required/> </br>
	Caption </br>
	<textarea name="caption" rows="5" cols="50" maxLength=100>{{caption}}</textarea> </br>
	Share with:
	<select name="friend_group">
        <option selected="selected">Choose one</option>
        {% for group in friend_groups %}
        	<option>{{group.groupName}}</option>
        {% endfor %}
	<input type="submit" value="Submit">
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
</body>
</html>