<html>
<head>
</head>
<body>
<form action="/post_action" method="POST">
	Paste the photo location: <input type="text" name="file_path" size=110 maxLength=100 required/> </br>
	Share to all followers? Yes <input type="radio" name="all_followers" value=1 checked="checked">
	No <input type="radio" name="all_followers" value=0> </br>
	<textarea name="caption" rows="5" cols="50" maxLength=100>Caption (max length 100 characters)</textarea> </br>
	<input type="submit" value="Submit">
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
</body>
</html>