<html>
	<head>
		<title>Finstagram</title>
	</head>
	<body>
		<h1>Share a photo</h1>
		<form action="/share_action" method="POST">
			<div>
				Filepath: <input type="text" name="filepath" size=110 maxLength=100 required/>
			</div>
			<div>
			Share to all followers?
			Yes <input type="radio" name="allFollowers" value=1 checked="checked">
			No <input type="radio" name="allFollowers" value=0>
			</div>
			<div>
			Caption:
			<br>
			<textarea name="caption" rows="5" cols="50" maxLength=100>Caption (max length 100 characters)</textarea>
			</div>
			<input type="submit" value="Share">
		</form>
		<a href="/">Back to home</a>
		{% if error %}
			<p class="error"><strong>Error:</strong> {{error}}</p>
		{% endif %}
	</body>
</html>