<html>
    <head>
        <title>Finstagram</title>
    </head>
    <body>
        <h1>View photos</h1>
        <div>
        	{% for photo in photos %}
        		{{photo.photoID}}, {{photo.photoPoster}}:
        		<br>
        		<a href="/view_details/{{photo.photoID}}"><img src="/photo_view/{{photo.filepath}}" width=300></a>
        		<br>
			{% endfor %}
			<br>
        </div>
        <a href="/">Back to home</a>
		{% if error %}
			<p class="error"><strong>Error:</strong> {{error}}</p>
		{% endif %}
    </body>
</html>